# MPLAB X build output
build/
dist/
.generated_files/
_build
cmake
debug
out

# ide
.vscode

# Object files
*.o
*.d

# Output binaries
*.elf
*.hex
*.map

# MPLAB X user files
nbproject/private/

# OS junk
.DS_Store
Thumbs.db
